#entry td{
    padding: 5px;
}

.PadLeft5 {
    padding: 5px;
}

.SearchButton {
    margin-left: 10px;
    margin-bottom: 5px;
}

.StatementListContainer {
    margin-top: 2px;
    max-width: 600px;
    width: 100%;
    border-bottom: 2px solid black;
}

#StatementHeader th{
    text-align: left;
}

.header {
    border-bottom: 1px solid black;
}

.BorderBlack1 {
    border: 2px solid black;
    max-width: 600px;
}